@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Pathway+Gothic+One&display=swap');


body {
    margin: 0;
    font-family: Open Sans, sans-serif;
}

h1 {
    font-family: Pathway Gothic One, sans-serif;
    background-color: #fff;
    text-align: center;
    color: #486f85;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 45px;
}

h2 {
    color: #486f85;
    font-family: Pathway Gothic One, sans-serif;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 4px;
    text-align: center;
}

/* Code grounded on a Stackoverflow website answer to a question by user4639281 https://stackoverflow.com/questions/30418787/how-do-i-center-a-responsive-navigation-bar-menu-with-css-and-html-only" */


#menuBackground {

    background:#486f85;
    width:100%;
    height:50px;
    text-align: center;
}

#menuContainer {
    text-align: center;
}
/*Strip the ul of padding and list styling*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

/*Create a horizontal list with spacing*/

li {
    display: inline-block;
    vertical-align: top;
    margin-right: 1px;
    font-size: 16px;
    border: 0;
}

/*Style for menu links*/

li a {
    display: block;
    min-width: 140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: Pathway Gothic One, sans-serif;
    letter-spacing: 4px;
    font-weight: 300;
    color: #d7e6ec;
    background: #486f85;
    text-decoration: none;
    font-size: 1rem;
}

/*Hover state for top level links*/
li:hover a {
    background: #be5856;

}

/*Style for dropdown links*/
#menu li:hover a ul a:hover {
    color: #aed6dc;
    height: 40px;
    line-height: 40px;
    background: #be5856;
    
}

  

/*Hover state for dropdown links*/

li:hover ul a:hover {
    background: #486f85;
    color: #aed6dc;  
}

/*Hide dropdown links until they are needed*/
li ul {
    position: absolute;
    display: none;
}

/*Make dropdown links vertical*/
li ul li {
    display: block;
}

/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover+.hidden,
.hidden:hover {
    display: block
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #aed6dc;
    background: #486f85;
    text-align: center;
    padding: 16px 0;
    display: none;
    width: 100%;
}

/*Hide checkbox*/
input[type=checkbox] {
    display: none
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked~#menu {
    display: block;
    margin: 0 auto;
}

p {
    padding: 16px;
}

/* Style circle and image in the About Us section */

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #d7e6ec;
    border-width: .5px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url("../images/manyogapeq.png") no-repeat center center;
    height: 100%;
    border-radius: 50%;
    
}


/*Responsive Styles*/
@media screen and (max-width : 760px) {

    /*Make dropdown links appear inline*/
    ul {
        position: static;
        display: none;
        white-space: initial;
    }

    /*Create vertical spacing*/
    li {
        border: 1px solid #ff9a8d;
       
    }

    /*Make all menu links full width*/
    ul li,
    li a {
        width: 100%;
    }

    /*Display 'show menu' link*/
    .show-menu {
        display: block;
        
    }
}

/* hero-image and cover-text */

#hero-image {

    height: 600px;
    width: 100%;
    background: url('../images/mother-daughter3.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto; 
    overflow: hidden;   
}

/*  About Us section responsive for larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #about-us {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    } 
 
    #welcome {
        padding: 30px 0;
        margin: 0;
    }
 
    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }
 
    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }
 

    hr {
        display: none;
    }
 }



/* responsive google-maps widget following instructions by https://muffingroup.com/blog/responsive-google-maps/ */

.google-maps {

    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}


    @media screen and (max-width: 480px) {
    #hero-image {
        width: 100% auto;
        height: auto;
        padding-top: 43%;
        background-size: 100% auto;
        }
    }


