@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Pathway+Gothic+One&display=swap');


body {
    margin: 0;
    font-family: Open Sans, sans-serif;
}

h1 {
    font-family: Pathway Gothic One, sans-serif;
    background-color: #fff;
    text-align: center;
    color: #486f85;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 45px;
}

h2 {
    color: #486f85;
    font-family: Pathway Gothic One, sans-serif;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 4px;
    text-align: center;
}

/* Code grounded on a Stackoverflow website answer to a question by user4639281 https://stackoverflow.com/questions/30418787/how-do-i-center-a-responsive-navigation-bar-menu-with-css-and-html-only" */


#menuBackground {

    background: #486f85;
    width: 100%;
    height: 50px;
    text-align: center;
}

/* Fix a bug of see-trhough spaces in the dropdown menu and overlaping of first h2, idea from the Developer Kristoffer Von Heland */
#menuContainer {
    text-align: center;
    position: relative;
    background-color: #486f85;
}

/*Strip the ul of padding and list styling*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

/*Create a horizontal list with spacing*/

li {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    border: 0;
}

/*Style for menu links*/

li a {
    display: block;
    min-width: 140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: Pathway Gothic One, sans-serif;
    letter-spacing: 4px;
    font-weight: 300;
    color: #d7e6ec;
    background: #486f85;
    text-decoration: none;
    font-size: 1rem;
}

/*Hover state for top level links*/
li:hover a {
    background: #be5856;

}

/*Style for dropdown links*/
#menu li:hover a ul a:hover {
    color: #aed6dc;
    height: 40px;
    line-height: 40px;
    background: #be5856;

}



/*Hover state for dropdown links*/

li:hover ul a:hover {
    background: #486f85;
    color: #aed6dc;
}

/*Hide dropdown links until they are needed*/
li ul {
    position: absolute;
    display: none;
}

/*Make dropdown links vertical*/
li ul li {
    display: block;
}

/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover+.hidden,
.hidden:hover {
    display: block
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #aed6dc;
    background: #486f85;
    text-align: center;
    padding: 16px 0;
    display: none;
    width: 100%;
}

/*Hide checkbox*/
input[type=checkbox] {
    display: none
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked~#menu {
    display: block;
    margin: 0 auto;
}



/* Style circle and image in the About Us section */

#circle-container {
    width: 200px;
    height: 200px;
    padding: 30px;
    border-style: solid;
    border-color: #d7e6ec;
    border-width: .5px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url("../images/manyogapeq.png") no-repeat center center;
    height: 100%;
    border-radius: 50%;

}

p {
    padding: 16px;
}

.findus-label {
    display: block;
    text-align: center;
}

/* What we Offer section */

#what-we-offer{
    display: flex;
}




/*Sign up section*/

/* form */

form {
    /* Centrar el formulario en la página */
    margin: 0 auto;
    max-width: 300px;

    /* Form basic style */
    padding: 1em;
    border: 1px solid #f16c6b;
    border-radius: 1em;
  }


.signup-form {
    display:flex;
    background-color: rgb(174, 214, 220, 0.2);
    border: 1px solid #ff9a8d;
}


.text-input:hover {
    border-color: #f16c6b;
    background-color: rgb(174,214,220,0.2);
}

.join-button {
    border-radius: 5px;
    padding: 10px 28px 10px 28px;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}


/* footer */

/* style social media icons */

.pseudolink {
    color: #486f85;
    text-decoration: underline;
    cursor: pointer;
}


footer {
    height: 150px;
}

#social-networks {
    display: flex;
    justify-content: center;
}

#social-networks li {
    text-align: center;
}

#social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 16px;
    color: #4a536b;

}



/*Responsive Styles*/


@media screen and (max-width : 760px) {

    /*Make dropdown links appear inline*/
    ul {
        position: static;
        display: none;
        white-space: initial;
    }

    /*Create vertical spacing*/
    li {
        border: none;

    }

    /*Make all menu links full width*/
    ul li,
    li a {
        width: 100%;
    }

    /*Display 'show menu' link*/
    .show-menu {
        display: block;

    }
}

/* hero-image and cover-text */

#hero-image {

    width: 100%;
    background: url('../images/mother-daughter3.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    overflow: hidden;
    padding-top: 43%;
}

/*  About Us section responsive for larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #about-us {
        width: 65%;
        height: 700px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about,
    #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    hr {
        display: none;
    }

.whatwe {

    width: 65%;
    display: block;
    text-align: center;
    margin: auto;
}

.sign {

    width: 65%;
    display: block;
    text-align: center;
    margin: auto;
}

.contact {

    width: 65%;
    display: block;
    text-align: center;
    margin: auto;
}
.times{

    width: 65%;
    text-align: center;
    margin: auto;


}

}



/* responsive google-maps widget following instructions by https://muffingroup.com/blog/responsive-google-maps/ */

.google-maps {

    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}


@media screen and (max-width: 480px) {
    #hero-image {
        width: 100% auto;
        height: auto;
        background-size: 100% auto;
    }

    #about-us {
        width: 65%;
        height: 1000px;
        margin: 0 auto;
}

#what-we-offer {

    text-align: center;
    
}
#sign-up {

    text-align: center;
}